/* Utils */
.my-border {
    border: 2px dashed greenyellow;
}

.container-small {
    max-width: 300px;
    margin: 0 auto;
}


/* ! Bordo container */
.container-fluid,
.container-sm,
.container-lg {
    border: 2px solid red;
}

/* Generics */
section {
    min-height: 500px;
    text-align: center;
    padding: 20px 0;
}

/* Header */
header {
    height: 100px;
}

/* Jumbotron */
.jumbotron {
    min-height: 500px;
    text-align: center;
}

.jumbotron .container-sm>* {
    border: 2px dashed purple
}

.jumbotron figure {
    width: 200px;
    height: 200px;
}

/* Portfolio section */

#portfolio {
    color: yellow;
}

#portfolio .container-lg>* {
    border: 2px dashed orange;
}

#portfolio .col {
    border: 2px dashed white;
    min-height: 300px;
}

/* Description section */
#description {
    color: lightblue;
}

#description .container-fluid>* {
    border: 2px dashed lightcoral;
}

#description p {
    border: 2px dashed lightgoldenrodyellow;
}

/* Contacts section */

#contacts .col-7 {
    border: 2px dashed grey;
}

#contacts .col-7:nth-last-of-type(3) {
    height: 200px;
}