/* Utils */
.my-border {
    border: 2px dashed greenyellow;
}

.container-small {
    max-width: 300px;
    margin: 0 auto;
}

.my-btn {
    border: 1px solid white;
    border-radius: 5px;
}

.line {
    height: 3px;
    border-radius: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-darkgrey {
    background-color: darkslategray;
}

.bg-darkblue {
    background-color: darkblue;
}

/* Generics */
section {
    min-height: 500px;
    text-align: center;
    padding: 20px 0;
}

h2 {
    text-transform: uppercase;
}

/* Header */
header {
    height: 100px;
    background-color: rgb(49 62 79);
    color: white;
}

/* Jumbotron */
.jumbotron {
    min-height: 500px;
    text-align: center;
    background-color: rgb(96 184 157);
    color: white;
    text-transform: uppercase;
}

.jumbotron figure {
    max-width: 300px;
}

.jumbotron .line {
    background-color: white;

}



/* Portfolio section */

#portfolio {
    color: rgb(51 51 51);
    background-color: white;
}

#portfolio .line {
    background-color: rgb(51 51 51);
}

#portfolio img {
    border-radius: 20px;
}


/* Description section */
#description {
    background-color: rgb(96 184 157);
    color: white;
}

#description .line {
    background-color: white;
}




/* Contacts section */

#contacts {
    color: rgb(49 62 79);
}

form {
    text-align: start;
}

#contacts .line {
    background-color: rgb(49 62 79);
}

#contacts .form-control {
    border: 0;
    border-bottom: 1px solid rgb(33, 37, 41);
    border-radius: 0;
}

#contacts .form-control::placeholder {
    color: rgb(33, 37, 41);
    font-weight: 500;
}

button {
    background-color: rgb(96 184 157);
    color: white;
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

/* Footer */
footer {
    min-height: 200px;
}

.top-footer {
    background-color: rgb(65 84 108);
}

.top-footer a {
    border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: rgb(122 181 158);
}

.footer-item {
    margin: 20px 0;
}

.bottom-footer {
    height: 100px;
    background-color: rgb(49 62 79);
}